<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，设置为数据层接口的全类名-->
<mapper namespace="com.oaec.ssm.mapper.BrandMapper">

    <select id="queryBySid" parameterType="int" resultType="map">
        SELECT * FROM brand WHERE brand_id IN(SELECT commodity.brand_id FROM commodity WHERE sort_id = #{sid} AND commodity_states = 1 GROUP BY commodity.brand_id)
    </select>

    <select id="queryAll" resultType="map">
        SELECT * FROM BRAND WHERE BRAND_ID IN(SELECT BRAND_ID FROM COMMODITY WHERE COMMODITY_STATES = 1 GROUP BY BRAND_ID)
    </select>

    <select id="queryByBid" parameterType="int" resultType="map">
        SELECT * FROM BRAND WHERE BRAND_ID = #{bid}
    </select>

</mapper>